

 
<section class="b-about__section">
    <div class="b-about__title">
        <h1 class="b-about__h1">Hero for hire</h1>
        <h3 class="b-about__h3">Soluciones a la velocidad de </h3>
        <h3 class="b-about__h3">luz</h3>

    </div>
    <div class="b-about__image"></div>
        <div class="b-about__img">
        <div class="b-about__circle">
            
        </div>
    </div>
  
               
</section>
<section class="b-about__section b-about__section--2">
    
    <div class="b-about__image b-about__image--2">
         <div class="b-about__img b-about__img--2"></div>
         <div class="b-about__circle b-about__circle--2"></div>
         <div class="b-about__img b-about__img--3"></div>
         <div class="b-about__img b-about__img--4"></div>
        
              
            
        
    </div>
    <div class="b-about__title b-about__title--2">
        <h1 class="b-about__h1">Busca en nuestra vasta red tu</h1><h1 class="b-about__h1 b-about__h1--red">Heroe.</h1>
        <h3 class="b-about__text">Equipped with a unique chassis and fan hub flush function.

            Programada en Angular 10
            Librerías usadas:
            ngx-sppiner.
            ngx-infinite-scroll.
            ngx Swiper-wrapper
            ng Serve</h3>

    </div>
  
               
</section>
