<footer class="main-footer">
    <div class="footer-col">
        <p class="p-titulo">Guía de compra</p>
        <p>Preguntas frecuentes</p>
        <p>Pago</p>
        <p>Envío</p>
        <p>Disponibilidad de héroe</p>
        </div>
    <div class="footer-col">
        <div class="footer-col">
            <p class="p-titulo">Servicios</p>
            <p>Affinitu Card</p>
            <p>Cuidado de prendas</p>
            <p>Cuidado de calzado</p>
            <p>Fiestas</p>
      
        </div>
    </div>
    <div class="footer-col">
        <div class="footer-col">
            <p class="p-titulo">Empresas</p>
            <p>Quiénes somos</p>
            <p>Oficinas</p>
            <p>Tiendas</p>
            <p>Localizador de tiendas</p>
            <p>Trabaja con nosotros</p>
            <p>Franquicias</p>
        </div>
    </div>
    <div class="footer-col">
        <div class="footer-col">
            <p class="p-titulo">Políticas</p>
            <p>Política medioambiental</p>
            <p>Trato a los villano</p>
            <p>Política de privacidad</p>
            <p>Condiciones de compra</p>
            <p>Política de cookies</p>
           </div>
    </div>
    <div class="footer-col">
        <div class="footer-col">
            <p class="p-titulo">Social</p>
            <p><span class="icon-facebook"></span>Facebook</p>
            <p><span class="icon-twitter"></span>Twitter</p>
            <p><span class="icon-pinterest"></span>Pinterest</p>
            <p><span class="icon-instagram"></span>Instagram</p>
            <p><span class="icon-whatsapp"></span>Whatsapp</p>
            <p><span class="icon-telegram"></span>Telegram</p>
       
        </div>
    </div>
    <div class="footer-col">
        <div class="footer-col">
            <p class="p-titulo">Métodos de pago</p>
            <p>VISA</p>
            <p>MasterCard</p>
            <p>AMEX</p>
            <p>Affinity</p>
            <p>PayPal</p>
            <p>Tarjeta regalo</p>
           
        </div>
    </div>




</footer>