.header{
  
    width: 100%;
    margin:0;
    position: relative;
    background-color: lightcyan;

    display: column;
    background-color: lightgray;
    
    &__container{
        // position : fixed;
        width: 100%;
        top:0;
        left: 0;
    }
    &__logo{
        background-color: white;
    }
    &__title{

        color: gray;
    }
    &__nav{

        background-color: gray;
    }
    &__menu{

        display:flex;
    }
    &__menu-options{

        font-size: 1.4rem;
        color:white;
        text-decoration: none;
        margin-left: 1rem;
        padding: .5rem;
        transition: all 0.3s ease-in-out
    }

}

.header__menu-options:hover{

    color:red;



}