<div class="header">
    <div class="header__container">
        <div class="header__logo">

            <h1 class="header__title">Heroes for Hire</h1>

        </div>
        <div class="header__nav">
            <nav class="header__menu">
                <a href="" class="header__menu-options">Home</a>
                <a href="" role="button" routerLink="/choose" class="header__menu-options">List</a>
                <a href="" role="button" routerLink="/stadistics" class="header__menu-options">Stadistics</a>
                <a href="" role="button" routerLink="/join" class="header__menu-options">Join Us</a>
             

                <div *ngFor = "let char of chariotCard">
                    {{char.id}} , {{char.name}}

                </div>
                
               
            </nav>
        </div>
    </div>
</div>
