.header{
  
    width: 100%;
    margin:0;
    position: relative;
    background-color: rgb(36, 55, 107);
    z-index:10;
  
    
    display: column;
    background-color: rgba(22, 29, 119, 0.767);
    
    &__container{
        // position : fixed;
        width: 100%;
        top:0;
        left: 0;
    }
    &__logo{
        background-color: white;
    }
    &__title{

        color: gray;
    }
    &__nav{
        display:flex;
        background-color: rgba(30, 31, 102, 0.904);
        background-image: url("../../../assets/svg/kisspng-light-luminous-efficacy-technology-background-shading-5a6eab18e51f21.8344989515172022009385.png");
        background-position: center;
        justify-content: space-between;
        
    }
    &__menu{

        display:flex;
        align-items: center;
        width: 100%;
    }
    &__menu-container{

        width: 60%;
    }
    &__menu-options{

        font-size: 1.4rem;
        color:white;
        text-decoration: none;
        margin-left: 1rem;
        padding: .5rem;
        transition: all 0.3s ease-in-out
    }

}

.header__menu-options:hover{

    color:red;
}
.b-chariot{
    display: flex;
    align-content: center;
    width: 40%;

    &__img{
        width:50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
        object-fit: cover;
        object-position: center center;


    }
    }
