<div class="header">
    <div class="header__container">
        <div class="header__logo">

            <h1 class="header__title">Heroes for Hire</h1>

        </div>
        <div class="header__nav">
            <nav class="header__menu">
                <div class="header__menu-container">
                    <a href="" class="header__menu-options">Home</a>
                    <a href="" role="button" routerLink="/about" class="header__menu-options">{{ 'about' | translate }}</a>
                    <a href="" role="button" routerLink="/stadistics" class="header__menu-options">{{ 'hire' | translate }}</a>
                    <a href="" role="button" routerLink="/join" class="header__menu-options">{{ 'join' | translate }}</a>
                </div>
             <div class="b-chariot">
               
                <a class="b-chariot__ref" href ="" role="button" routerLink="/chariot">
                <ng-lottie  class="b-chariot__lottie"
                name = "hola"
                width="100px"
                height="70px"
                [options]="options" 
                (loopComplete)="loopComplete($event)"
                (animationCreated)="animationCreated($event)"
             
                ></ng-lottie></a>
                <span class="b-chariot__number">{{this.id}}</span>
              
              
            </div>
         </nav>
 
        </div>
    </div>
</div>
