
<div class="b-chariot">
    <div class ="b-hero" *ngFor="let hero of chariot">
        <div class="dos"> 


        </div>
        <div class="uno"> 
            <div class="b-hero__stick">
                
            
                <div class="b-hero__description b-hero__description--notSkew">
                    <img class="b-hero__img" src="{{hero.image}}">
                
                    
                    <div class="b-hero__info">
                        <p class="b-text__slide b-text__slide--name">Nombre: {{hero.name}} </p>
                        <p class="b-text__slide">raza: {{hero.race}}</p>
                        <p class="b-text__slide">Peso {{hero.weight}}</p>
                        <p class="b-text__slide">Género {{hero.gender}}</p>
                        <span id="hero__{{ hero.id }}" class="b-chariot__button" (click)="modifyHero($event)">Modify</span>
                    </div>

                </div>
        
        </div>
        
    
        </div>
    </div>
</div>