

<div class="main-container">
  <div class="b-form__img-comtainer">
    <div class="circle circle__img"></div>
    <div class="circle circle__red"></div>
    <h1 class="text-pie" >{{ 'joinus.label2' | translate }}</h1>

  </div>
    <form class="b-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
   
      <fieldset class="b-form__personal">
   
          <div class= "b-form__row">
            <div class="b-form__cols b-form__cols--1" >

              <label class="b-form__label" for="name">{{ 'form.name' | translate }}*</label>
              <input class="b-form__input" placeholder="{{ 'input.name' | translate }}"type="text" id="name" formControlName="name" />
                
              <div *ngIf="!form.get('name').valid &&
                  (form.get('name').dirty || submitted)">
                  Has introducido mal tu nombre
              </div>
            </div>
            <div class="b-form__cols b-form__cols--1">
              <label class="b-form__label" for="fullName">{{ 'form.realName' | translate }}* </label>
              <input class="b-form__input"  placeholder="{{ 'input.realName' | translate }}" type="text" id="fullName" formControlName="fullName" />
                  <!-- Si el campo fullName es invalido / ha sido tocado / submitted = true -->
              <div *ngIf="!form.get('fullName').valid &&
                  (form.get('fullName').dirty || submitted)">
                Has introducido mal tu raza
              </div>
           </div> 
        
    
          <div class="b-form__cols b-form__cols--1">
              <label class="b-form__label " for="race">{{ 'form.race' | translate }}* </label>
              <input class="b-form__input" placeholder="{{ 'input.race' | translate }}" type="text" id="race" formControlName="race" />
                  <!-- Si el campo race es invalido / ha sido tocado / submitted = true -->
              <div *ngIf="!form.get('race').valid &&
                  (form.get('race').dirty || submitted)">
                Has introducido mal tu raza
              </div>
          </div>
    

          <div class="b-form__cols b-form__cols--1">
          
            <label class="b-form__label" for="image">{{ 'form.image' | translate }}</label>
            <input class="b-form__input" placeholder="{{ 'input.image' | translate }}" type="text" id="image" formControlName="image" />
              
            <div *ngIf="!form.get('image').valid &&
                (form.get('image').dirty || submitted)">
              Has introducido mal tu raza
            </div>
          </div>
     
         
        
            
           <div class="b-form__cols b-form__cols--2">
              <label class="b-form__label" for="alterEgos">{{ 'form.alterEgo' | translate }}</label>
              <input class="b-form__input" placeholder="{{ 'input.alterEgo' | translate }}" type="text" id="alterEgos" formControlName="alterEgos" />

              <div *ngIf="!form.get('alterEgos').valid &&
                  (form.get('alterEgos').dirty || submitted)">
                  Has introducido mal tu raza
              </div>
            </div>
           
            <div class="b-form__cols b-form__cols--2">
              <label class="b-form__label" for="occupation">{{ 'form.occupation' | translate }}</label>
              <input class="b-form__input" placeholder="{{ 'input.occupation' | translate }}" type="text" id="occupation" formControlName="occupation" />
                 
              <div *ngIf="!form.get('occupation').valid &&
                  (form.get('occupation').dirty || submitted)">
                Has introducido mal tu Occupation.
              </div>
            </div>
            <div class="b-form__cols b-form__cols--2">alignment *
              <label class="form__radio" for="good">
                <input  class="form__radioButton" type="radio" id="good"  value="good" formControlName="alignment">{{ 'input.good' | translate }}
            </label>
              <label  class="form__radio" for="bad1">
                <input class="form__radioButton" type="radio" id="bad1"  value="bad" formControlName="alignment">{{ 'input.bad' | translate }}
            </label>
             </div>
          
            <div class="b-form__cols b-form__cols--2">gender *
              <label class="form__radio" for="male1">
                <input  class="form__radioButton" type="radio" id="male1"  value="male" formControlName="gender">{{ 'input.male' | translate }}"
            </label>
              <label  class="form__radio" for="female">
               <input class="form__radioButton" type="radio" id="female"  value="female" formControlName="gender">{{ 'input.female' | translate }}
            </label>

              
            </div>
          </div> 
      <fieldset class="b-form__powerstats">
            <div class="b-form__row b-form__row--column">
              <div class="b-form__row b-form__row--flex"> 
                <div class="b-form__cols b-form__cols--3" >
    
                    <label class="b-form__label" for="intelligence">{{ 'form.intelligence' | translate }}*</label>
                    <input class="b-form__input b-form__input--stat" type="number" id="intelligence" formControlName="intelligence" />
                      
                    <div *ngIf="!form.get('intelligence').valid &&
                        (form.get('intelligence').dirty || submitted)">
                      Has introducido mal tu raza
                    </div>
                </div>
            
                <div class="b-form__cols b-form__cols--3" >
                    <label class="b-form__label" for="strength">{{ 'form.strength' | translate }}*</label>
                    <input class="b-form__input b-form__input--stat"type="number" id="strength" formControlName="strength" />
                      
                    <div *ngIf="!form.get('strength').valid &&
                        (form.get('strength').dirty || submitted)">
                      Has introducido mal tu raza
                    </div>
                </div>
            </div>
            <div class="b-form__row b-form__row--flex"> 
              <div class="b-form__cols b-form__cols--3" >
                    <label class="b-form__label" for="speed">{{ 'form.speed' | translate }}*</label>
                    <input class="b-form__input b-form__input--stat" type="number" id="speed" formControlName="speed" />
                      
                    <div *ngIf="!form.get('speed').valid &&
                        (form.get('speed').dirty || submitted)">
                      Has introducido mal tu raza
                    </div>
              </div>
              <div class="b-form__cols b-form__cols--3" >
                    <label class="b-form__label" for="durability">{{ 'form.durability' | translate }}*</label>
                    <input class="b-form__input b-form__input--stat" type="number" id="durability" formControlName="durability" />
                      
                    <div *ngIf="!form.get('durability').valid &&
                        (form.get('durability').dirty || submitted)">
                      Has introducido mal tu raza
                    </div>
              </div>
            </div>
            <div class="b-form__row b-form__row--flex"> 
              <div class="b-form__cols b-form__cols--3" >              
                    <label class="b-form__label" for="power">{{ 'form.power' | translate }}*</label>
                    <input class="b-form__input b-form__input--stat" max="100" min="1" type="number" id="power" formControlName="power" />
                      
                    <div *ngIf="!form.get('power').valid &&
                        (form.get('power').dirty || submitted)">
                      Has introducido mal tu raza
                    </div>
              </div>
              <div class="b-form__cols b-form__cols--3" >
                    <label class="b-form__label" for="combat">{{ 'form.combat' | translate }}*</label>
                    <input class="b-form__input b-form__input--stat" type="number" id="combat" formControlName="combat" />
                    
                    <div *ngIf="!form.get('combat').valid &&
                        (form.get('combat').dirty || submitted)">
                      Has introducido mal tu raza
                    </div>
              </div>
              </div>  
            </div>     
      </fieldset>
           
      </fieldset>
    

     <button class="b-button__submit" type="submit" [disabled]="!form.valid">Submit</button>

      
  </form>
</div>

<app-modal [(showModal)]="showModal">
  <div class="modal-header">
    <h2>Formulario Heroes</h2>
  </div>
  <div class="modal-body">
    <p class="modal-body-message">Heroe creado con exito</p>
    <button routerLink="/stadistics">Volver al listado</button>
  </div>
</app-modal>