<form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
    <!-- //************************ NAME  -->
      <fieldset>
        <legend>Información Personal</legend>

        <label for="id">Id::</label>
            <input type="number" id="id" formControlName="id" />
                <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!form.get('id').valid &&
                (form.get('id').dirty || submitted)">
                Has introducido mal tu nombre
            </div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" formControlName="name" />
                <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!form.get('name').valid &&
                (form.get('name').dirty || submitted)">
                Has introducido mal tu nombre
            </div>
    
    <!-- //************************ RACE  -->
    
        
        <label for="race">Raza: </label>
        <input type="text" id="race" formControlName="race" />
            <!-- Si el campo race es invalido / ha sido tocado / submitted = true -->
        <div *ngIf="!form.get('race').valid &&
            (form.get('race').dirty || submitted)">
          Has introducido mal tu raza
        </div>
    

      <!-- //************************ RAZA  -->
      
        <label for="image">Imagen:</label>
        <input type="text" id="image" formControlName="image" />
            <!-- Si el campo image es invalido / ha sido tocado / submitted = true -->
        <div *ngIf="!form.get('image').valid &&
            (form.get('image').dirty || submitted)">
          Has introducido mal tu raza
        </div>
      </fieldset>
            <!-- //************************ RAZA  -->
            <fieldset>
                <label for="fullName">Full name: </label>
                <input type="text" id="fullName" formControlName="fullName" />
                    <!-- Si el campo fullName es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('fullName').valid &&
                    (form.get('fullName').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
              </fieldset>
              <fieldset>
                <label for="id">Full name: </label>
                <input type="text" id="id" formControlName="id" />
                    <!-- Si el campo id es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('id').valid &&
                    (form.get('id').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
              </fieldset>

              <fieldset>
                <label for="alterEgos">Alter egos:</label>
                <input type="text" id="alterEgos" formControlName="alterEgos" />
                    <!-- Si el campo alterEgos es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('alterEgos').valid &&
                    (form.get('alterEgos').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
              </fieldset>

              <fieldset>
                <label for="alignment">Alignment: </label>
                <input type="text" id="alignment" formControlName="alignment" />
                    <!-- Si el campo alignment es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('alignment').valid &&
                    (form.get('alignment').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
              </fieldset>

              <fieldset>
                <label for="eyeColor">Eye Color: </label>
                <input type="text" id="eyeColor" formControlName="eyeColor" />
                    <!-- Si el campo eyeColor es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('eyeColor').valid &&
                    (form.get('eyeColor').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
              </fieldset>

              <fieldset>
                <label for="occupation">Hair color:</label>
                <input type="text" id="hairColor" formControlName="hairColor" />
                    <!-- Si el campo hairColor es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('hairColor').valid &&
                    (form.get('hairColor').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
              </fieldset>

              <fieldset>
                <label for="occupation">Occupation:</label>
                <input type="text" id="occupation" formControlName="occupation" />
                    <!-- Si el campo occupation es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('occupation').valid &&
                    (form.get('occupation').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
              </fieldset>

              <fieldset>
                <legend>Powerstats</legend>
                <label for="intelligence">intelligence:</label>
                <input type="number" id="intelligence" formControlName="intelligence" />
                    <!-- Si el campo intelligence es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('intelligence').valid &&
                    (form.get('intelligence').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
                <label for="strength">strength:</label>
                <input type="number" id="strength" formControlName="strength" />
                    <!-- Si el campo strength es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('strength').valid &&
                    (form.get('strength').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
                <label for="speed">speed:</label>
                <input type="number" id="speed" formControlName="speed" />
                    <!-- Si el campo speed es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('speed').valid &&
                    (form.get('speed').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
                <label for="durability">durability:</label>
                <input type="number" id="durability" formControlName="durability" />
                    <!-- Si el campo durability es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('durability').valid &&
                    (form.get('durability').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
                <label for="power">power:</label>
                <input type="number" id="power" formControlName="power" />
                    <!-- Si el campo power es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('power').valid &&
                    (form.get('power').dirty || submitted)">
                  Has introducido mal tu raza
                </div>
                <label for="combat">combat:</label>
                <input type="number" id="combat" formControlName="combat" />
                    <!-- Si el campo combat es invalido / ha sido tocado / submitted = true -->
                <div *ngIf="!form.get('combat').valid &&
                    (form.get('combat').dirty || submitted)">
                  Has introducido mal tu raza
                </div>

             

              </fieldset>

              <button type="submit" [disabled]="!form.valid">Submit</button>
      
</form>