.b-detail{

        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 1rem;
        width:500px;
        margin:0;
        box-shadow: 1px 1px 10px 0 rgb(177, 176, 176);
        margin-top: 4rem;
       

       &__img{

            width:100px;
            border-radius: 20px;
            margin:0 1rem;
            border: 1px solid white;
           
       }
       &__name{
           margin-left: 0px;
           color: white;
           font-size: 1.2rem;
       }

       &__container{
        // position: fixed;
        display: flex;
        justify-content: left;
        flex-direction: column;
       

           
        
       }
       &__sup{
           display: flex;
           align-items: center;
           justify-content: left;
           margin: 0;
           background-color: rgb(143, 143, 143);
           border-radius: 8px;
           margin-left: 0px;
           padding: 4px;
       }

       &__description{
        word-wrap: break-word;
        // position:fixed;
   
        margin:1rem 0
       }

   


}