.b-stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__gallery{
      
        display: flex;
        background-color: transparent;
        flex-direction: row ;
        border-radius: 8px;
        box-shadow: 1px 1px 10px 0 gray;
        margin: 1rem .5rem;
      
    }

    &__stick{

        display: flex;
        flex-direction: column;
        border: 1px solid rgb(175, 175, 175);
        
        border-radius: 8px;
       
        height: 330px;
        width: 200px;
        overflow: hidden;
    }
    &__img-container{
        
        width: 200px;
        height: 300px;
        overflow: hidden;


    }

    &__img{ 

        object-fit: contain;
        object-position: center center;
        width: 200px;
        border-radius: 8px;
        cursor: pointer;
          }

    

}
.colorRed{
    background-color: rgb(241, 155, 155);
}
.colorBlue{
    background-color: rgb(197, 247, 240);
}

.spinner{
    position: relative;


    &__position{
        position:fixed;
    bottom: 40px;
    left: 50%;
    }
}