<div  
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
> 
    <div class =" b-stats" >
            <div class="b-stats__gallery" *ngFor="let hero of arrayHeroe">
                 <div   @myInsertRemoveTrigger id="{{hero.id}}" class="b-stats__stick" [ngClass]="{
                        'colorBlue': hero.alignment === 'good', 
                        'colorRed': hero.alignment === 'bad'}">
                        <div class="b-stats__img-container">
                              <img class="b-stats__img" id="{{hero.id}}" src="{{ hero.image }}" alt="" (click)="getId($event)">
                        </div>
                        <div class="b-stats__label">
                              <p class ="b-text__slide b-text__slide--mod">{{hero.name}}</p>
                       </div>
                        <div class ="b-stats__button">
                              <span class="b-button" id="{{hero.id}}" (click)="getId($event)">{{ 'sticker.hire'| translate }}</span> 
                              <span class="b-button" id="{{hero.id}}" class="b-button" (click)="getId($event)">{{ 'sticker.fire'| translate }}</span>
                              <span class="b-button b-button__del" id="mod__{{hero.id}}" class="b-button" (click)="deleteHero($event)">{{ 'sticker.delete'| translate }}</span>
                        
                        </div>

                  </div>
            </div>
      </div>

</div>
 
<div class="spinner">
      <div class="spinner__position">
      <ngx-spinner
      bdOpacity = 0.9
      bdColor = ""
      size = "default"
      color = "#581f87"
      type = "ball-pulse-sync"
      [fullScreen] = "false"
      >
      </ngx-spinner>