.b-stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__gallery{
      
        display: flex;
        background-color: transparent;
        flex-direction: row ;
        border-radius: 8px;
        box-shadow: 1px 1px 10px 0 gray;
        margin: 1rem .5rem;
      
    }

    &__stick{

        display: flex;
        flex-direction: column;
        border: 1px solid rgb(175, 175, 175);
        
        border-radius: 8px;
       
        height: 350px;
        width: 200px;
        overflow: hidden;
    }
    &__img-container{
        
        width: 200px;
        height: 250px;
        overflow: hidden;


    }

    &__img{ 
        filter: grayscale(60%) contrast(150%);
        object-fit: contain;
        object-position: center center;
        width: 200px;
        border-radius: 8px;
        cursor: pointer;
          }
    &__label{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-shadow: 2px 0px 10px 0 black;
    }   
    &__button{
        display: flex;
        justify-content: space-evenly;
        margin-top:1rem;
        width: 100%;
        margin: 0;
       
    }

  
  
}
.b-text__slide{
    margin-top: 0;

    &--mod{
        width: 100%;
        text-align: center;
        background-color: rgb(24, 36, 58);
        color: rgb(255, 255, 255);
      
        padding:0.5rem;
    }


}


.colorRed{
    background-color: rgb(241, 155, 155);
}
.colorBlue{
    background-color: rgb(197, 247, 240);
}

.spinner{
    position: relative;


    &__position{
        position:fixed;
    bottom: 40px;
    left: 50%;
    }
}
.b-button{
    padding: 0.3rem;
    background-color: rgba(53, 53, 53, 0.445);
    color: white;
   
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;

}


@media screen and (max-width: 1200px) {
    .b-form__row{
        width: 90% !important;
    }
    .b-form__powerstats{
        width: 90%;
    }
    .main-container{
        align-items: normal ;
    }
    .b-form__img-hero{
        height: 420px !important;
    }
  }

  @media (max-width: 992px) {
    .b-form__img-comtainer{
        display:none;
    }

    }
    @media (min-width: 768px) {
       
     }
     @media (max-width: 576px) {
      .main-container{
          width: 100% !important;

      }
      .b-form{
        margin:1rem
    }
     }
