.b-stats{

    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top: 4rem;
    
    
        &__container{
            width: 96%;
            display: flex;
            
            justify-content: space-between;
    
        }
    
    }
    .b-filter{
       
        width:0%;
        position:relative;
     
      
    }
    .b-gallery{
        width:50%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgba(255, 0, 0, 0.418);
        border-left: 1px solid rgba(0, 0, 0, 0.356);
        box-shadow: 0px 25px 20px rgba(230, 8, 8, 0.452);
        margin: 0px;
        margin-left: 360px;
        // background-color: rgba(255, 0, 0, 0.61);
    }
.b-graphics{
    margin: 0;
    width: 90%;
 
}
.b-detail{
    margin:0;
    width:90%
}
    
       
       
    
    .b-detalles{
        display:flex;
        width: 30%;
        flex-direction: column;
        align-items: center;
     
    }