.b-stats{

    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top: 10rem;
    
    
        &__container{
            width: 96%;
            display: flex;
            
            justify-content: space-between;
    
        }
    
    }
    .b-filter{
       
        width:20%;
        position:relative;
     
      
    }
    .b-gallery{
        width:50%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid black;
        border-left: 1px solid black;
        background-color: rgba(255, 0, 0, 0.61);
    }
.b-graphics{
    margin: 0;
    width: 100%;
 
}
    
       
       
    
    .b-detalles{
        display:flex;
        width: 30%;
        flex-direction: column;
        align-items: center;
     
    }