<form *ngIf="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
    <!-- Fieldset del primer campo - name -->
    <fieldset class ="form__field">
        <legend>Formulario</legend>

      <input  class="form__radioButton" type="radio" id="male" name="sex" value="male" formControlName="sex">
      <label class="form__radio" for="male">male</label><br>
      <input class="form__radioButton" type="radio" id="female" name="sex" value="female" formControlName="sex">
      <label  class="form__radio" for="female">female</label><br>
     
    

     
     
      
        <select class="form__select" formControlName="powerStats">
            <option [ngValue]="null" selected="true" disable="disabled">"Elige powerStats:"</option>
            <option *ngFor="let stat of powerStats" [ngValue]="stat">
             {{ stat }}
            </option>
          </select> 
        
    
      
          <select class="form__select" formControlName="alignment">
              <option [ngValue]="null" selected="true" disable="disabled">"Elige curso:"</option>
              <option *ngFor="let align of arrayAlignment" [ngValue]="align">
               {{ align}}         </option>
            </select> 
          
      </fieldset>
    
  
    <button type="submit" [disabled]="!form.valid">Submit</button>
</form>


