@import url(http://fonts.googleapis.com/css?family=Laila:400,700);

.b-form{
    position: fixed;
    width:300px;
    border: 1px solid lightslategray;
    padding: 1rem;
    border-radius: 4px;
    margin: 0;
   

    &__input{

        padding: 0.5rem;
    }
    &__select{

        padding: 1rem;
        border: 2px solid gray;
    }
    &__legend{

        padding: 1rem;
        border: none;
    }
    &__field{
        border:none;
        display: flex;
        flex-direction: column;
        align-items: center;

       &--radio{
        margin: 1rem 0;
        display:flex;
        flex-direction: row;
       }
    }

}



