.b-graph{

    
   
    width: 100%;
     margin-left: 0;
  

    &__position{
        // position: fixed;
        width: 100%;
      
        
    }
}

// .chartjs-render-monitor{

//     width: 80%;
//     height: 200px;
// }